:root {
  --clr-neutral-100: #fff;
  --clr-neutral-200: #fff;
  --clr-neutral-200: #f9f8f7;
  --clr-neutral-400: #09090a37;
  --clr-neutral-600: #5f5f6d;
  --clr-neutral-800: #09090a;
  --clr-neutral-900: #000;
}

:root {
  --font-family-text: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; 

  --clr-base-content: var(--clr-neutral-800);
  --clr-base-content-secondary: var(--clr-neutral-600);
  
  --clr-base-100: #fff;
  --clr-base-200: #f9f8f7;
  --clr-base-400:  #09090a37;

  --space-responsive: min(max(.875rem, 2vw), 1.125rem);
}

/* Default reset */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  /* font-size: 1rem; */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
}

ul[role='list'][class], ol[role='list'][class] {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

p, h1, h2, h3, h4 {
	overflow-wrap: break-word;
}

h1, h2, h3, h4 {
	text-wrap: balance;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  font-style: italic;
  max-width: 100%;
}

/* Global */

body {
  background-color: var(--clr-base-200);
  color: var(--clr-base-content);
  font-family: var(--font-family-text);
  font-size: min(max(1rem, 2vw), 1.125rem);
}

a {
  color: inherit;
}

a:hover {
  color: var(--clr-base-content);
}

/* Composition */

.img__caption {
  max-width: calc(var(--max, 1) + 4rem);
}

.button {
  color: initial;
  text-decoration: none;
}

.flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: 1em;
  margin-block-start: var(--flow-space, 1em);
}

h2 {
  --flow-space: 2rem;
}

h3 {
  --flow-space: 1.5rem;
}

blockquote,
blockquote + * {
  --flow-space: 3rem;
}

.flow-block {
  padding-block-start: 1.25rem;
  padding-block-end: 6rem;
}

.twoCol {
  display: block grid;
  row-gap: 1.125rem;
}

@media (min-width: 60rem) {
  .twoCol {
    column-gap: 1.125rem;
    grid-template-columns: 1fr 2fr;
  }
  
  .twoCol p:not([class]) {
    max-width: 29rem;
  }
}

[data-state] > * {
  order: 1;
}

/* Utility */

.wrapper {
  margin-inline: var(--space-responsive);
  display: block grid;
}

.bg-base {
  background-color: var(--clr-base-200);
}

.text-extended {
  font-family: system-ui, sans-serif;
  font-stretch: extra-expanded;
}

.text-narrow {
  font-family: system-ui, sans-serif;
  font-stretch: condensed;
}

.text-secondary {
  color: var(--clr-base-content-secondary);
}

.align-end {
  display: block grid;
  align-content: end;
}

.space-between {
  display: block grid;
  gap: 1rem;
  grid-auto-flow: column;
  justify-content: space-between;
}

/* Exception */

@media (max-width: 60rem) {
  [data-screen="desktop"] {
    display: none;
  }
  
  [data-state="reversed"] {
    & > :last-child {
      order: 0;
    }
  }
}