---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Slava Zakharov">
	<div class="intro twoCol flow-block" data-state="reversed">
		<div class="flow">
			<p class="intro__who">
				A web developer — providing professionals with trustworthy and easy-to use tools.
			</p>
			<p>
				Born and raised in Saint-Petersburg, I'm currently based in Yerevan. Developing GIS software by day, exploring IndieWeb by night.
			</p>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates ex eos fugit mollitia exercitationem nostrum repudiandae cum perspiciatis accusantium eveniet! Rerum saepe ex eveniet quos error voluptatibus laborum itaque est!
			</p>
		</div>

		<div class="align-end">
			<figure class="img">
				<img class="intro__img" src="/head-shot.jpg" alt="head shot of me">
				<figcaption class="img__caption" data-screen="desktop">
					While afk I enjoy <a href="/running">running</a>, <a href="/books">reading</a>, <a href="/blog">digital gardening</a>, playing chess and recording <a href="/podcasts">podcasts</a>.
				</figcaption>
			</figure>
		</div>
	</div>

	<div class="flow-block" id="articles">
		<h2>Articles</h2>
	</div>

	<div class="flow-block" id="projects">
		<h2>Projects</h2>
	</div>

	<div class="flow-block" id="reading">
		<h2>Reading</h2>
	</div>
</MainLayout>

<style>
	.intro__who {
		font-size: min(max(1.5rem, 3vw), 3rem);
		font-weight: 700;
		line-height: 1.1;
		overflow-wrap: break-word;
		text-wrap: balance;
	}

	.intro__who + p {
		--flow-space: 2rem;
	}

	.img {
		--max: 400px;
	}

	.intro__img {
		width: clamp(300px, 70%, var(--max));	
	}

	.intro {
		row-gap: 2rem
	}
</style>