---
let lang = Astro.props;
let message = 'Stop war in Ukraine'

if (lang === "ru") {
	message = 'Остановите войну в Украине'
}
---

<p class="msg text-extended">{message}!</p>

<style>
	.msg {
		background-color: var(--clr-neutral-900);
		color: var(--clr-neutral-100);
		display: block grid;
		font-size: var(--fs-m);
		font-weight: 900;
		line-height: 1;
		padding-block: 0.75rem;
		place-content: center;
	}
</style>