---
import Disclaimer from "../components/Disclaimer.astro";
import "../styles/main.css";

let {title, lang} = Astro.props;
lang ??= 'en';
---

<html {lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Disclaimer {lang} />
		<main class="wrapper">
			<header class="header bg-base">
				<nav class="nav twoCol">
					<div class="logo">
						<a class="button" href="/">
							<h1>Slava Zakharov</h1>
						</a>
						<span class="text-secondary">Civil Software Engineer</span>
					</div>

					<div class="col space-between align-end" data-screen="desktop">
						<ul class="menu text-secondary" role="list">
							<li><a class="menu__item" href="/">Home</a></li>
							<li><a class="menu__item" href="/blog">Articles</a></li>
							<li><a class="menu__item" href="#projects">Projects</a></li>
							<li><a class="menu__item" href="/uses">Uses</a></li>
							<li><a class="menu__item" href="/about">About</a></li>
						</ul>
						<div>
							
							<a class="button" href="mailto:me@slav.no" title="Email Me" role="button">me@slav.no</a>
						</div>
					</div>
				</nav>
			</header>
			<div class="main">
				<slot></slot>
			</div>
			<footer class="footer twoCol" data-state="reversed">
				<div class="memo">
					Keep it up <span class="text-narrow">© 23.03.2000-present</span>
				</div>
				<div class="space-between">
					<ul class="socials text-secondary" role="list">
						<li><a class="footer__item" href="https://twitter.com/petyapetr_812" role="link">Twitter</a></li>
						<li><a class="footer__item" href="https://github.com/petyapetr" role="link">Github</a></li>
						<li><a class="footer__item" href="mailto:me@slav.no" role="link">Email</a></li>
					</ul>
					<div class="update" data-screen="desktop">Updated: <span class="text-narrow">May 7, 2024</span></div>
				</div>
			</footer>
		</main>
	</body>
</html>

<style>
	/* General */
	
	h1 {
		font-size: inherit;
	}

	/* Composition */
	
	.header {
		position: relative;
	}
	
	.header {
		font-weight: 700;
	}
	
	.header, .footer {
		line-height: 1.1;
		padding-block: 1.125rem;
	}
	
	.menu__item {
		font-weight: 400;
	}

	.header {
		border-block-end: solid 1.1px var(--clr-neutral-400);
	}

	ul[class] {
		display: block grid;
		gap: 1rem;
		grid-auto-flow: column;
	}

	@media (min-width: 60rem) {
		.header {
    	position: sticky;
    	top: 0;
    	z-index: 1;
  	}
		
		.main {
			padding-block-start: 1.625rem;
		}
	}
</style>