---
import Disclaimer from "../components/Disclaimer.astro";
// import "../styles/main.css";
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/composition.css";
import "../styles/utility.css";
import "../styles/block.css";

const {title, locale} = Astro.props;
const lang = locale ? locale : "en";
---

<html {lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="page-wrapper">
			<Disclaimer {lang} />
			<main class="main-layout | wrapper">
				<header class="header | inner-wrapper">
					<nav class="nav | repel">
						<div class="logo">
							<a href="/">
								Slava Zakharov
							</a>
						</div>

						<ul class="menu | auto-columns | text-secondary" role="list">
							<li><a class="menu__item" href="/">home</a></li>
							<li><a class="menu__item" href="/about">about</a></li>
							<li><a class="menu__item" href="/writing">writing</a></li>
						</ul>
					</nav>
				</header>

				<div class="main">
					<slot></slot>
				</div>

				<footer class="footer | repel | inner-wrapper" data-state="reversed">
					<div class="memo">
						Keep it up <span class="text-narrow">© 23.03.2000-present</span>
					</div>
					<ul class="socials | auto-columns | text-secondary" role="list">
						<li><a class="footer__item" href="https://twitter.com/petyapetr_812" role="link">Twitter</a></li>
						<li><a class="footer__item" href="https://github.com/petyapetr" role="link">Github</a></li>
						<li><a class="footer__item" href="mailto:me@slav.no" role="link">Email</a></li>
					</ul>
					<div class="update" data-screen="desktop">Updated: <span class="text-narrow">October 5, 2024</span></div>
				</footer>
			</main>
		</div>
	</body>
</html>

<style>
	.main-layout {
		display: grid;
		grid-template-rows: max-content 1fr max-content;
	}

	.header, .footer {
		font-family: var(--font-display);
	}
	
	.header, .footer {
		line-height: 1.1;
		padding-block: 1.125rem;
	}

	.nav {
		font-size: var(--size-step-1)
	}

	.logo {
		font-weight: 700;
	}

	.logo a {
		text-decoration: none;
	}

	@media (min-width: 60rem) {
		.header {
			background: var(--clr-global-bg);
    	position: sticky;
    	top: 0;
    	z-index: 1;
  	}
	}
	
	.page-wrapper:has(> :nth-child(2)) {
		--banner-count: 1;

		display: grid;
		grid-template-rows: repeat(var(--banner-count), minmax(min-content, max-content)) 1fr;
		min-height: 100dvh;
	}

	.page-wrapper:has(> :nth-child(3)) {
		--banner-count: 2;
	}
</style>